body{
	font:15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: #f0f0f0;
	margin:0;
}
body,html{
	height:100%;
}

textarea{
	font-size:14px;
	font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Roboto Mono, monospace;
	overflow-y:auto;
	resize:none;
	width:100%;
	box-sizing:border-box;
	height:calc(100% - 80px);
}
textarea.error{background-color:red}
.text-center{text-align:center;}

canvas{border:1px dotted #888}
#container{
	display:flex;
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
}

#left{
	flex-grow: 2;
	width:45%;
	padding:16px;
}
#middle{
	flex-grow: 1;
	width:10%;
	background-color:#e0e0e0;
	padding:16px;
}
#right{
	flex-grow: 2;
	width:45%;
	padding:16px;
}

#dialog-open-rom::backdrop{
	background-color:rgba(0,0,0,.75);
	backdrop-filter:blur(4px);

}
#dialog-open-rom h2{
	color:red;
}
#input-file{
	padding:8px;
	border-radius:3px;
	background-color:#ddd;
}